;;;
"title": "custom",
"cards": [
  {
  		"title": "Precision Jump",
  		"image": "https://upload.wikimedia.org/wikipedia/commons/b/bd/Le_Parkour_Precision_jump.jpg",
      "type" : "move"
	},
	{
  		"title": "Vault",
  		"image": "https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Parkour_fl2006.jpg/322px-Parkour_fl2006.jpg",
      "type" : "move"
	},
	{
  		"title": "Dash",
  		"image": "https://upload.wikimedia.org/wikipedia/commons/2/27/1dash_o.jpg",
      "type" : "move"
	},
	{
  		"title": "Tic Tac",
  		"image": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTWKwCetnqwNVf16Mbzq45eDh6fLXehXD5LdyA4SLsszWJrFceEYw",
      "type" : "move"
	},
  {
      "title": "Wall",
      "image": "https://upload.wikimedia.org/wikipedia/commons/d/d4/NY_Marble_Cemetery_wall_with_vault_tablets_2.jpg",
      "type" : "terrain"
  },
  {
      "title": "Short Wall",
      "image": "https://c2.staticflickr.com/6/5341/7373208918_08453e56ee_b.jpg",
      "type" : "terrain"
  },
  {
      "title": "Gap",
      "image": "http://www.movementunleashed.com/wp-content/uploads/MG_7975-Max-Middle-Gap-Fl.jpg",
      "type" : "terrain"
  },
  {
      "title": "Bar",
      "image": "http://i.telegraph.co.uk/multimedia/archive/03066/high_bars_3066959a.png",
      "type" : "terrain"
  }
]
;;;

<section>
	<%= cards(current_page.data.cards) %>
</section>